.colorcode{position: absolute;
    top: 40%;
    left: 40%;
}
.box{
    border: 5px solid red;
    position: absolute;
    height: 500px;
    width: 500px;
    left: 30%;
    top: 20%;
    }